version: '3.1'

services:
  feed-service:
    image: feed-service:v1
    container_name: feed-service
    restart: unless-stopped
    volumes:
      - gvm_plugins:/var/lib/openvas/plugins
      - gvm_notus:/var/lib/notus
      - gvm_gvm:/var/lib/gvm
      - gvm_log:/var/log/feedsync
    healthcheck:
      test: [ "CMD-SHELL", "test -f /var/lib/openvas/plugins/.feedsync_ready" ]
      interval: 30s
      timeout: 5s
      retries: 10

  openvas-service:
    image: ozgenm/scanner:latest
    container_name: openvas-service
    privileged: true
    cap_add:
      - NET_ADMIN    # Allows OpenVAS to perform network-related tasks.
      - NET_RAW      # Allows OpenVAS to use raw sockets, essential for scanning.
#    network_mode: host
    depends_on:
      feed-service:
        condition: service_healthy
    ports:
      - "3001:3001"
    volumes:
      - gvm_plugins:/var/lib/openvas/plugins
      - gvm_notus:/var/lib/notus

volumes:
  gvm_plugins:
  gvm_notus:
  gvm_gvm:
  gvm_log:
